<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HR System</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>HRM</h1>
    
  </header>
  <main>
    
    <h1>Welcome to HR Management System</h1>
    <h2>Your HR Solution</h2>
    <p>Efficient management of holiday requests, payslips, complaints, and company notices.</p>
    <a href="/login">Login</a>
      <a href="/register">Register</a>
  </main>
</body>
</html>
